.Gallery {

	.mainbox {
		width: 100%;
		display: flex;
		justify-content: center; /* 가로 가운데 정렬 */
		margin-top: 70px;
		margin-bottom: 50px;
		border-top: 0.5px solid #000;

		article {
		  width: 27%;
		  height: 35vh;
		  margin: 70px auto;
		  transition: 0.8s;
	
	  .pic {
		width: 100%;
		height: 150px;
		background: #000000;

		img{
		  width: 100%;
		  height: 150px;
		  object-fit: cover;
		}
	  }
	
	  .txtbox {
		margin-top: 10px;
		border-top: 1px solid #000 ;
		width: 100%;
		padding: 10px 20px;
		text-align: center;
	
		h2 {
		  margin-bottom: 20px;
		  font-size: 1.5rem;
		}
	
		p {
		  color: #000000;
		  text-align: center;
		}
	  }

	  &:hover{
		transform: scale(1.1);
	  }
	}
  }
}

.upper{
	width: 100%;
	display: flex;
	margin-bottom: 50px;
	justify-content: space-between;
	border-top: 1px solid #000;
	border-left: 3px solid #000;
	transition: 0.7s;

	.imgBox{
		width: 45%;
		height: 40vh;
		margin-top: 50px;
		padding-left: 30px;
		
	}

	#etc{
		width: 45%;
		height: 250px;
		padding-left: 30px;
		margin-top: 50px;
	}

	&:hover{
		// transform: scale(1.03);
		box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.05);
	}
}
h2{
	font-size: 3rem;
	margin-bottom: 20px;
}

	.searchBox{
		width: 100%;
		text-align: center;
		margin-top: 50px;
		input{
			width: 60%;
			height: 5vh;
			border: none;
			background: none;
			border-bottom: 1px solid #000;
		}

		button{
			width: 7%;
			height: 5vh;
			border: none;
			// background: #000;
			border-top:1px solid #000;
			// color:#fff;
			transition: 0.6s;

			&:hover{
				background: #000;
				color:#fff;
			}
		}
	}

	.btnSet{
		width: 100%;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;

		button{
			width: 15%;
			height: 3vh;
			margin: 10px;
			transition:0.5s;
			border: none;

			&:hover{
				background: #000;
				color:#fff;
			}
		}
	}
	

	.picFrame {
		width: 100%;

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		article {
			width: 25%;
			padding: 10px;
			float: left;
			

			.inner {
				width: 100%;
				padding: 10px;
				background: #fff;
				border-right: 4px solid #000;
				border-top: 1px solid #000;
				box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);

				.pic {
					width: 50%;
				}
				.Txt{
					width: 35%;
					height: 13vh;
					float: right;

					h2{
						text-align: center;
					}
				}
				h2 {
					font: normal 1rem/1.2 'arial';
					color: #555;
					margin-top: 40px;
					margin-bottom: 40px;
					border-top: 1px solid #000;
					padding-top: 10px;
				}
				.profile {
					width: 100%;
					display: flex;
					align-items: center;
					gap: 20px;

					span {
						font-size: 0.8rem;
					}
				}
			}
		}
	}


.laptop {
	.Gallery {
		.picFrame {
			article {
				width: 32%;
			}
		}
	}
}
.tablet {
	.Gallery {
		.picFrame {
			article {
				width: 48%;
			}
		}
	}
}
.mobile {
	.Gallery {
		.picFrame {
			article {
				width: 100%;
			}
		}
	}
}